<% provide(:title, "Work") %>
<br>
<span></span>
<hr/>


<div class="work">
	<div class="work-text">
		<h3 class="title"><%= link_to "IronOak Energy Insights", 'http://insights.ironoak.energy/' %></h3>
		<p>Location: Chapel Hill, NC, USA</p>
		<span> IronOak Energy is a Chapel Hill based company that world class investment advice and Research and Analysis for clean energy Investment</span><br>
		<span>Insights is a product of IronOak Energy. It is a clean energy research platform for you to build strategy, catch trends and track markets.</span><br>
		<span> I started collaborating with Insights in Chapel Hill, NC, during my visiting year at UNC where I grew interested in the environment, clean energy and related topics. As a part of Insights tech team I helped develop many of the features shown <%= link_to "here", 'http://insights.ironoak.energy/' %>. 
	</div>
</div>


<hr/>

<div class="work">
	<div class="work-text">
		<h3 class="title"><%= link_to "Ps3 Prosoft", 'www.ps3prosoft.com.br/' %></h3>
		<p>Location: João Pessoa, PB, Brazil</p>
		<span> Ps3 Prosoft is company focused inovation and solutions for big business.</span><br>
		<span>The biggest project from PS3 was the "Todos com a Nota" a system built for the city of Recife, PE where the citzen could register their receipts in change for points for soccer games. I was a part of this project to improve usability and efficency of the registration for points and for the exchange for the game tickets. C# and MVC3 were used. </span><br>
		<span>At a second moment at the company,after one year living abroad, it was decided the next projects would use Google´s Angular.JS, so me and the team took a couple of days to learn and get used to it and went straight to work! Two projects were done then, ELUM a modular system for states and cities to manage their budget and payments; nad Food Cards, a system to distribute and manage the food allownce credits of the employees. </span>
	</div>
</div>


<hr/ >

<div class="work">
	<div class="work-text">
		<h3 class="title"><%= link_to "DataPrev", 'http://www.dataprev.gov.br/' %></h3>
		<p>Location: João Pessoa, PB, Brazil</p>
		<span> DataPrev is Brazilian public company tied to the Ministry of Social Security</span><br>
		<span>I was a part of the CAGED team, who dealt with all the registrations of employment and unemployment of the country. My work here consisted initially of testing both the software and the web application used to register the work information. Later the work included a refactoring of the web application flow and also updating parts of the database, using Java, jUnit, Java EE and PLSQL</span>
	</div>
</div>

<hr/ >


<div class="work">
	<div class="work-text">
		<h3 class="title"><%= link_to "VSoft", "https://www.vsoft.com.br/" %></h3>
		<p>Location: João Pessoa, PB, Brazil</p>
		<span>VSoft is a Microsoft Verifed Company that currently develops biometric detection software among other areas of RD, such as a drinving simulator for driving schools</span><br>
		<span>During my time as an intern at Vsoft I was responsible for developing a webpage with C#, ASP/MVC and XPO to be an agregator of twitter posted news.</span>
	</div>
</div>