<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">Omar Ramalho</li>
			<li><%= link_to "Home", 'home' %></li>
			<li><%= link_to "Education", 'education' %></li>
			<li><%= link_to "Work", 'work' %></li>
			<li><%= link_to "Interests", 'interests' %></li>
			<li><%=link_to image_tag("github.png",class: 'social-icon'), "https://github.com/omar-sr88"%></li>
		</ul>

</div>

<button type="button" class="btn btn-default btn-lg" id="menu-toggle">
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
</button>	